

 @import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Passion+One&family=Secular+One&display=swap');


*, *::before, *::after {
box-sizing: border-box;
}

img, picture, svg, video {
display: block;
max-width: 100%;
}

input, textarea, button, select {
font: inherit;
}

* {
margin: 0;
padding: 0;
}

body {
min-height: 100vh;
display: flex;
}
.greetings{
    padding-top: 2em;
    width: 100%;
}
.greetings h2{
    font-family: 'Lobster Two', cursive;
    font-size: 2rem;
    color: #6F6D6D;
    font-weight: 600;
    padding-left: 20px;
}
.greetings #user-name{
    font-family: 'Passion One', cursive;
    font-size: 3rem;
    padding-left: 20px;
}
.avatar > img{
    border: 5px solid #001b52;
    border-radius: 50%;
    width: auto;
    height: 200px;
    transform: translateX(-10px);
}
.option > img{
    width: auto;
    height: 50px;
    padding-left: 1.5em;
}
.dashboard{
    width: clamp(300px, 40%, 400px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    background-color: #dfeaff;
    overflow: hidden;
}
.options{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}
.option{
    cursor: pointer;
    margin-top: 1em;
    display: flex;
    align-items: center;
   font-family: 'Passion One', cursive;
   font-size: 1.5rem;
    gap: 2.5rem;
    transition: scale 0.2s ease;
}
.option:hover{
    outline: 3px solid #001b52;
    scale: 1.1;
}

.header{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

#date{
    text-align: center;
    width:10%;
    height:45%;
    font-size: 20px;
    font-weight: 700;
    font-family:'Lobster Two', cursive;
}

#time{
    text-align: center;
    width:10%;
    height:45%;
    font-size: 20px;
    font-weight: 700;
    font-family:'Lobster Two', cursive;
}
#help{
    width:10%;
    height:50%;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    font-family:'Lobster Two', cursive;
    border: 2px solid black;
}
#help:hover{
    color:white;
    background-color: black;
}