

 @import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Passion+One&family=Secular+One&display=swap');


*, *::before, *::after {
box-sizing: border-box;
}

img, picture, svg, video {
display: block;
max-width: 100%;
}

input, textarea, button, select {
font: inherit;
}

* {
margin: 0;
padding: 0;
}

body {
min-height: 100vh;
display: flex;
}
.greetings{
    padding-top: 2em;
    width: 100%;
}
.greetings h2{
    font-family: 'Lobster Two', cursive;
    font-size: 2rem;
    color: #6F6D6D;
    font-weight: 600;
    padding-left: 20px;
}
.greetings #user-name{
    font-family: 'Passion One', cursive;
    font-size: 3rem;
    padding-left: 20px;
}
.avatar > img{
    border: 5px solid #001b52;
    border-radius: 50%;
    width: auto;
    height: 200px;
    transform: translateX(-10px);
}
.option > img{
    width: auto;
    height: 50px;
}
.dashboard{
    width: min(40%, 300px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    background-color: #dfeaff;
}
.options{
    width: 80%;
}
.option{
    cursor: pointer;
    padding-top: 1em;
    display: flex;
    align-items: center;
   font-family: 'Passion One', cursive;
   font-size: 1.5rem;
    gap: 2.5rem;
}